{namespace business}

/**
* Order view template
* @param title
* @param formData
*/
{template .order}
    {call components.formLayout}
        {param title:$title/}
        {param formData:$formData/}
    {/call}
{/template}